* {
    padding: 0;
    margin: 0;
}

/*shered style*/
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.color-orange {
    color: #FD6E0A;
}

.logo h2 {
    color: #181818;
    font-size: 45px;
    font-weight: 900;
}

.btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn2 {
    background-color: #FFFFFF;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}

.section-padding {
    padding-top: 113px;
}
.section-headding{
    text-align: center;
}
.section-headding h2{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-headding p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-card p{
    color: #757575;
    font-size: 20px;
}
.about-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

/*main style*/
header {

    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 38px 23px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}

header .menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 51px;
}

header .menu a {
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

.banner {
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-contener {
    max-width: 585px;
}

.banner .banner-contener h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner .banner-contener h1 {
    margin-bottom: 20px;
    color: #181818;
    font-size: 85px;
    font-weight: bold;

}

.banner .banner-contener p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}

.banner-button {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.banner-image img {
    max-width: 584px;
    vertical-align: middle;
}

.about-continer {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
}
.about-card-continer{
    display: flex;
    justify-content: space-around;
}